    <%= form_for @reservation do|form| %>
    <%= render 'shared/error_messages' %>


      <div class="field">
        <%= form.label :Titel %>
        <%= form.text_field :title, id: :reservation_title, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :Von %>
        <%= form.text_field :start_date, id: :reservation_start_date, class: :datepicker %>
      </div>

      <div class="field">
        <%= form.label :Bis %>
        <%= form.text_field :end_date, id: :reservation_end_date, class: :datepicker %>
      </div>

      <div class="field">
        <%= form.label :Kommentar %>
        <%= form.text_area :comment, id: :reservation_comment, :class => "materialize-textarea" %>
      </div>

      <div class="actions">
        <%= form.submit 'Speichern', :class => "waves-effect waves-light btn-large"  %>
      </div>
    <% end %>
