<div class="center-align">
  <h3>Alle Reservierungen</h3>
    <div class="row">
      <% @reservations.each do |reservation| %>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <%= image_tag(reservation.user.avatar.url, class: "responsive-img") %>
            <span class="card-title"><%= truncate(reservation.user.username, length: 25) %></span>
            <%= link_to '<i class="material-icons">add</i>'.html_safe, reservation, :class => "btn-floating halfway-fab waves-effect waves-light red" %>
          </div>
          <div class="card-content">
            <p><%= truncate(reservation.title, length: 64) %></p>
            <p><%= reservation.start_date.strftime("%d.%m.%Y") %> -<%= reservation.end_date.strftime("%d.%m.%Y") %> </p>
          </div>
          <div class="card-action">
            <%= link_to 'Anzeigen', reservation %>
            <%= link_to 'Bearbeiten', edit_reservation_path(reservation) %>
            <%= link_to 'Löschen', reservation, method: :delete, data: { confirm: 'Bist du sicher?' } %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
