<div class="center-align">
  <h2>Alle Reservierungen</h2>
    <div class "container" id ="main">
      <div class="row">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Title:</strong>
          <%= @reservation.title %>
        </p>

        <p>
          <strong>Start date:</strong>
          <%= @reservation.start_date %>
        </p>

        <p>
          <strong>End date:</strong>
          <%= @reservation.end_date %>
        </p>

        <p>
          <strong>Comment:</strong>
          <%= @reservation.comment %>
        </p>

        <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
        <%= link_to 'Back', reservations_path %>
      </div>
    </div>
 </div>
