<div class = "container">
  <h3>Reservierung | <%= @reservation.title %> </h3>
</div>
<div class = "container">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">face</i>Reservierung von</div>
      <div class="collapsible-body"><span><%= @reservation.user.username %></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">short_text</i>Titel</div>
      <div class="collapsible-body"><span><%= @reservation.title %></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">flight_land</i>Von</div>
      <div class="collapsible-body"><span><%= @reservation.start_date.strftime("%d.%m.%Y") %></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">flight_takeoff</i>Bis</div>
      <div class="collapsible-body"><span><%= @reservation.end_date.strftime("%d.%m.%Y") %></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">insert_comment</i>Kommentar</div>
      <div class="collapsible-body"><span><%= @reservation.comment %></span></div>
    </li>
  </ul>
  <%= link_to 'Bearbeiten', edit_reservation_path(@reservation), class: "btn" %> |
  <%= link_to 'Zurück', reservations_path %>
</div>
