<nav>
  <nav class ="orange">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Mallorca Calling</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Neue Reservierung", new_reservation_path %></li>
        <li><%= link_to "Reservierungen", root_path %></li>
        <li><%= link_to "Login", "#" %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Neue Reservierung", new_reservation_path %></li>
        <li><%= link_to "Reservierungen", root_path %></li>
        <li><%= link_to "Login", "#" %></li>
      </ul>
    </div>
  </nav>
</nav>
