<nav>
  <nav class ="blue darken-1">
    <div class="nav-wrapper">
      <%= link_to "Heldenurlaub", root_path, class: "brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Neue Reservierung", new_reservation_path %></li>
        <li><%= link_to "Reservierungen", reservations_path %></li>
        <li><%= link_to "Login", "#" %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Neue Reservierung", new_reservation_path %></li>
        <li><%= link_to "Reservierungen", reservations_path %></li>
        <li><%= link_to "Login", "#" %></li>
      </ul>
    </div>
  </nav>
</nav>
